body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: grid;
    gap: 15px;
    grid-template-columns:2fr;
    grid-template-rows:10vh 5vh 15vh  ;
    grid-template-areas: "header header " "art art" "main main" ;
    
}

header {
    grid-area: header;
    background-color: #0e6bcf;
    position: fixed;
    width: 100%;
    height: 60px;
}
header ul{
    text-align: left;
}

header ul li{
    display: inline;
    text-align: center;

}
header ul li img{
    border-radius: 15px;
}
header ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color:#f0d316;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}
header button {
    border: none;
    border-radius: 5px;
}

header a:hover {
    color: #bb900f;
}
article{
    margin-left: 15px;
    grid-area: art;
    background-color: red;
    font-size: 30px;
}
main{
    margin-left: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-area: main;
}