body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: grid;
    grid-template-columns:3fr 2fr;
    grid-template-rows: 10vh 30vh 40vh 40vh ;
    grid-template-areas: "header aside" "footer main" "section section" "section2 section2" ;
    gap: 5px;
}

header {
    grid-area: header;
    background-color: brown;
    position: sticky;
}
header ul{
    text-align: left;
}

header ul li{
    display: inline;
    text-align: center;
}
header ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
header button {
    border: none;
    border-radius: 5px;
}
.box aside{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: aside;
    background-color: green;
}
.box aside button{
    margin: 50px;
}
.box footer{
    grid-area: footer;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.box main{
    grid-area: main;
    background-color:blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box main input{
    border-radius: 10px;
    width: 70%;
    height: 15%;
}
.box section{
    grid-area: section;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.box section img{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-size: cover;
}
.box .section2{
    grid-area: section2;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}