body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows: 10vh ;
    grid-template-areas: "header aside" "footer main";
}

header {
    grid-area: header;
    background-color: brown;
    position: sticky;
}
header ul{
    text-align: left;
}

header ul li{
    display: inline;
    text-align: center;
}
header ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
header button {
    border: none;
    border-radius: 5px;
}
.box aside{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: aside;
    background-color: green;
}
.box aside button{
    margin: 50px;
}
.box2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 30vh ;
    grid-template-areas: "footer main";
}
.box2 footer{
    grid-area: footer;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.box2 main{
    grid-area: main;
    background-color:blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box2 main input{
    border-radius: 10px;
    width: 70%;
    height: 15%;
}
.box3{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 15vh;
    grid-template-areas: "img1" "img2";
}
.box3 img{
    grid-area: img;
    background-color: red;
}
