body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: grid;
    gap: 15px;
    grid-template-columns:2fr 3fr 1fr;
    grid-template-rows:10vh  0vh 60vh ;
    grid-template-areas: "header header header"  "section2 section2 section2" "aside main2 footer2" ;
}

header {
    grid-area: header;
    background-color: brown;
    position: fixed;
    width: 100%;
}
header ul{
    text-align: left;
}

header ul li{
    display: inline;
    text-align: center;
}
header ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color:cadetblue;
    transition: 1s;
}
header ul li a:hover{
    opacity: 0.65;
}
header ul li button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}
header ul li button:hover{
    opacity: 0.65;
}
.box article{
    grid-area: main2;
    background-color: chartreuse;
    display: inline;
    text-align: left;
}

.box .aside2{
    grid-area: aside;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 10px;
}
.box .aside2 img{
    width: 100%;
    height: 75%;
    background-size: cover;
}
.box .footer2{
    grid-area: footer2;
    display: inline-block;
    text-align: center;
}
.box .footer2 button{
    width: 80%;
    height: 20%;
}
.box article .botoes{
    width: 100%;
    display: inline-block;
    text-align: left;
}
.box article .botoes button{
    width: 30%;
}