header {
    grid-area: header;
    background-color: brown;
    position: fixed;
    width: 100%;
    
}

header ul {
    text-align: left;
}

header ul li {
    display: inline;
    text-align: center;
}

header ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: cadetblue;
    transition: 1s;
}

header ul li a:hover {
    opacity: 0.65;
}

header ul li button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}

header ul li button:hover {
    opacity: 0.65;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: grid;
    grid-template: 2em/1fr 2fr;
    grid-template-areas: "header header"
                        "contentx contentx" ;
}

.content{
    grid-area: contentx;
    margin-top: 2em;
    padding: 2em;
}

.tabs{
    display: flex;
    justify-content: space-between;
}
.noticias-tab,.dicas-tab{
    border-radius: 10px 10px 0 0;
    padding: 0.2em 1em 0.5em 1em;
    height: 3.5em;
    font-size: 20px;
 
}
.noticias-tab{
    background-color: #72A4F0;
    color: #46639A;
}
.dicas-tab{
    background-color: #FFD056;
    color: #AD7766;
}
.tabs-select{
    background-color: #FFD056;
    padding: 1em;
}
.tabs-select .info{
    display: flex;
    padding: 0 2em;
    align-items: center;
}
.tabs-select h2{
    color: #C06A3A;
    font-size: 30px;
}
.tabs-select p{
    color: #424242;
    font-size: 20px;
}

.hamburger-menu{
    display: none;
}