body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 0vh 90vh;
    grid-template-areas: "header header" "main main" "art art";
}

header {
    grid-area: header;
    background-color: #0e6bcf;
    position: fixed;
    width: 100%;
    height: 60px;
}
header ul{
    text-align: left;
}

header ul li{
    display: inline;
    text-align: center;

}
header ul li img{
    border-radius: 15px;
}
header ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color:#f0d316;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
}
header button {
    border: none;
    border-radius: 5px;
}

header a:hover {
    color: #bb900f;
}
.login{
    color: black;
    padding:2px; 
    background-color:#faea7f;
    border-radius:5px;
    width:100%;
    color:black;
    margin-right: 5px;
    transition: 1s;
}
.login:hover{
    background-color: #0e6bcf;
    color: white;
}
.cadastro{
    color: black;
    padding:2px; 
    background-color:#faea7f;
    border-radius:5px;
    width:100%;
    transition: 1s;
}
.cadastro:hover{
    background-color: #0e6bcf;
    color: white;
}
div main{
    height: 200px;
    width: 350px;
    margin: auto;
    grid-area: main;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 5fr  ;
    grid-template-rows: 15vh  ;
    grid-template-areas: "texto texto"  ;
}

div main aside{
    display: inline-block;
    text-align: left;
    grid-area: texto;
    width: 100%;
}
div main section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: senha;
}

article{
    background-color:#0e6bcf;
    width: 100%;
    text-align: left;
    grid-area: art;
    padding: 10px;
    color: white;
}